<!doctype html>
<html lang="en">
    <head>
        <%- include partials/head %>
        <title>Edit | Letter Generator</title>
        <meta name="description" content="Fill out fields to generate a letter">
    </head>
    <body>
        <p>TODO htmlWebpackPlugin: <%= JSON.stringify(htmlWebpackPlugin) %></p>

        <div class="generator">
            <div class="generator__header">

            </div>
            <div class="generator__body">

            </div>
        </div>
    </body>
</html>
