<!doctype html>
<html lang="en">
    <head>
        <%- include partials/head.ejs %>
        <title>Review | Letter Generator</title>
        <meta name="description" content="Review and edit generated letter">
    </head>
    <body>
        <h1>Review</h1>
    </body>
</html>
